:root {
    --neon-blue: #36EFFF;
    --background-dark-gray: #1D222A;
    --background-light-gray: #333947;
    --text-white: #FEFCFB;
    --card-background-gray: #20252D;
    --highlighted-green: #0ce825;
    --highlighted-red: #f50713;
}

@font-face {
    font-family: 'AlliancePlatt';
    src: url('../fonts/Alliance-PlattMedium.eot');
    src: url('../fonts/Alliance-PlattMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Alliance-PlattMedium.woff2') format('woff2'),
        url('../fonts/Alliance-PlattMedium.woff') format('woff'),
        url('../fonts/Alliance-PlattMedium.ttf') format('truetype'),
        url('../fonts/Alliance-PlattMedium.svg#Alliance-PlattMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: linear-gradient(var(--background-dark-gray) 40%, var(--neon-blue));
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-white);
    font-family: 'AlliancePlatt', sans-serif;
    margin: 0;
}

#content,
#header, 
#footer {
    border-radius: 20px;
    margin: min(30px, 5vh);
}

#content {
    background-color: var(--card-background-gray);
    height: calc(100vh - 2 * min(30px, 5vh));
}

#footer, 
#header {
    background-color: var(--background-light-gray);
    box-shadow: 0 0 15px 15px rgb(0, 0, 0, 0.2); 
}
